body {
  background-color: #fffcde
}

nav {
      background-color: #D0C88A;
      padding: 10px;
      img {
        width: 120px;
        height: auto;
        padding: 15px;
        border-radius: 5px;
        position:absolute; top: 15px; left: 15px; right: 15px; bottom: 15px;
      }
}



    /* unvisited link */
    a:link {
      color:#454421;
      background-color: #9cac5c;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* visited link */
    a:visited {
      color: #454421;
      background-color: #95AB57;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* mouse over link */
    a:hover {
      color: #454421;
      background-color: #D0C88A;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

    /* selected link */
    a:active {
      color: #454421;
      background-color: #95AB57;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

.container {
  display: grid;
  background-color: #D0C88A;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  font-style: #454421;
  margin-top: 8px;
  padding:20px;
}

.container img {
padding: 0px;
border-radius: 20px;
border: solid;
border-color: #454421;
border-width: 3px;
}
