body {

.container div {
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}
}