body {
  background-color: #D0C88A
}



.container {
  display: grid;
  background-color: #95AB57;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto;
  padding: 10px;
  : #454421;
}

